//From darker to lighter
$gray1: tint(#414042, 10%);
$gray2: tint(#414042, 20%);
$gray3: tint(#414042, 30%);
$gray4: tint(#414042, 40%);
$gray5: tint(#414042, 50%);
$gray6: tint(#414042, 60%);
$gray7: tint(#414042, 70%);
$gray8: tint(#414042, 80%);
$gray9: #d9d9d9;
$gray10: #f0f0f1;

// We use these as default colors throughout
$primary-color: #414042;
$primary-color-tint-1: #6d6e71;
$primary-color-tint-2: #b6b6b8;
$secondary-color: #9e3039;
$secondary-color-shade-1: shade($secondary-color, 20%);
$alert-color: #9e3039;
$success-color: #43AC6A;
$warning-color: #f08a24;
$info-color: #a0d3e8;

$body-bg: $primary-color;
$body-font-color: $primary-color-tint-1;