// ########  #######  ##    ## ########    ##      ## ######## ####  ######   ##     ## ########  ######
// ##       ##     ## ###   ##    ##       ##  ##  ## ##        ##  ##    ##  ##     ##    ##    ##    ##
// ##       ##     ## ####  ##    ##       ##  ##  ## ##        ##  ##        ##     ##    ##    ##
// ######   ##     ## ## ## ##    ##       ##  ##  ## ######    ##  ##   #### #########    ##     ######
// ##       ##     ## ##  ####    ##       ##  ##  ## ##        ##  ##    ##  ##     ##    ##          ##
// ##       ##     ## ##   ###    ##       ##  ##  ## ##        ##  ##    ##  ##     ##    ##    ##    ##
// ##        #######  ##    ##    ##        ###  ###  ######## ####  ######   ##     ##    ##     ######

$font-weight-normal: 400;
$font-weight-bold: 700;


// ########  ######## ########    ###    ##     ## ##       ########    ########  #######  ##    ## ########  ######
// ##     ## ##       ##         ## ##   ##     ## ##          ##       ##       ##     ## ###   ##    ##    ##    ##
// ##     ## ##       ##        ##   ##  ##     ## ##          ##       ##       ##     ## ####  ##    ##    ##
// ##     ## ######   ######   ##     ## ##     ## ##          ##       ######   ##     ## ## ## ##    ##     ######
// ##     ## ##       ##       ######### ##     ## ##          ##       ##       ##     ## ##  ####    ##          ##
// ##     ## ##       ##       ##     ## ##     ## ##          ##       ##       ##     ## ##   ###    ##    ##    ##
// ########  ######## ##       ##     ##  #######  ########    ##       ##        #######  ##    ##    ##     ######
//
$body-font-family: $font-family-sans-serif;
$body-font-weight: $font-weight-normal;
$body-font-style: normal;


// ##     ## ########    ###    ########  ######## ########     ########  #######  ##    ## ########  ######
// ##     ## ##         ## ##   ##     ## ##       ##     ##    ##       ##     ## ###   ##    ##    ##    ##
// ##     ## ##        ##   ##  ##     ## ##       ##     ##    ##       ##     ## ####  ##    ##    ##
// ######### ######   ##     ## ##     ## ######   ########     ######   ##     ## ## ## ##    ##     ######
// ##     ## ##       ######### ##     ## ##       ##   ##      ##       ##     ## ##  ####    ##          ##
// ##     ## ##       ##     ## ##     ## ##       ##    ##     ##       ##     ## ##   ###    ##    ##    ##
// ##     ## ######## ##     ## ########  ######## ##     ##    ##        #######  ##    ##    ##     ######

$header-font-family: $font-family-serif;
$header-font-weight: $font-weight-bold;
$header-font-style: normal;
$header-font-color: $primary-color;
$header-line-height: 1.4;

// We use these to control header font sizes
$h1-font-size: 1.5625rem;
$h2-font-size: 1.375rem;
$h3-font-size: 1.25rem;
$h4-font-size: 1.125rem;
$h5-font-size: 1rem;
$h6-font-size: .875rem;


// ######## ##     ## ######## ########     ###        ######  #### ######## ########  ######
// ##        ##   ##     ##    ##     ##   ## ##      ##    ##  ##       ##  ##       ##    ##
// ##         ## ##      ##    ##     ##  ##   ##     ##        ##      ##   ##       ##
// ######      ###       ##    ########  ##     ##     ######   ##     ##    ######    ######
// ##         ## ##      ##    ##   ##   #########          ##  ##    ##     ##             ##
// ##        ##   ##     ##    ##    ##  ##     ##    ##    ##  ##   ##      ##       ##    ##
// ######## ##     ##    ##    ##     ## ##     ##     ######  #### ######## ########  ######


$big-font-size-1: 3rem;
$big-font-size-2: 2rem;
$big-font-size-3: 1.75rem;


$small-font-size: .75rem;

// ########     ###    ########     ###     ######   ########     ###    ########  ##     ##  ######
// ##     ##   ## ##   ##     ##   ## ##   ##    ##  ##     ##   ## ##   ##     ## ##     ## ##    ##
// ##     ##  ##   ##  ##     ##  ##   ##  ##        ##     ##  ##   ##  ##     ## ##     ## ##
// ########  ##     ## ########  ##     ## ##   #### ########  ##     ## ########  #########  ######
// ##        ######### ##   ##   ######### ##    ##  ##   ##   ######### ##        ##     ##       ##
// ##        ##     ## ##    ##  ##     ## ##    ##  ##    ##  ##     ## ##        ##     ## ##    ##
// ##        ##     ## ##     ## ##     ##  ######   ##     ## ##     ## ##        ##     ##  ######
$paragraph-font-family: $body-font-family;
$paragraph-font-weight: $font-weight-normal;
$paragraph-font-size: 1.2rem;
$paragraph-line-height: 1.4em;
$paragraph-margin: 1em;


// ##       #### ##    ## ##    ##  ######
// ##        ##  ###   ## ##   ##  ##    ##
// ##        ##  ####  ## ##  ##   ##
// ##        ##  ## ## ## #####     ######
// ##        ##  ##  #### ##  ##         ##
// ##        ##  ##   ### ##   ##  ##    ##
// ######## #### ##    ## ##    ##  ######
$anchor-font-color: $secondary-color;
$anchor-font-color-hover: $primary-color;

html {
    font-size: $rem-base; // Establecido en utilities/_functions.scss
}

body {
    font-size: $paragraph-font-size;
    line-height: $paragraph-line-height;
    color: $body-font-color;
    font-family: $body-font-family;
    * + * {
        margin-bottom: 0;
        margin-top: $paragraph-margin;
    }
}

%big-size-1 {
    font-size: $big-font-size-1;
    letter-spacing: -0.015em;
    line-height: 1.1em;

    @media screen and (max-width: $viewport-xs) {
        font-size: $big-font-size-1 / 1.4;
    }

    @media screen and (max-width: $viewport-md) {
        font-size: $big-font-size-1 / 1.2;
    }
}

%big-size-2 {
    font-size: $big-font-size-2;
    letter-spacing: -0.015em;
    line-height: 1.1em;
    @media screen and (max-width: $viewport-md) {
        font-size: $big-font-size-2 / 1.2;
    }
}

%big-size-3 {
    font-size: $big-font-size-3;
    line-height: 1.1em;
    @media screen and (max-width: $viewport-md) {
        font-size: $big-font-size-3 / 1.2;
    }
}

%body-size-1 {
    font-size: $paragraph-font-size + 0.1;
    line-height: 1.5em;
}
%body-size-2 {
    font-size: $paragraph-font-size;
    line-height: $paragraph-line-height;
}
%body-size-3 {
    font-size: $paragraph-font-size - 0.1;
    line-height: $paragraph-line-height - 0.25;
}

blockquote {
    position: relative;
    padding-left: 1rem;
    &:before {
        content: "\201C";
        font-size: 4em;
        color: $primary-color;
        position: absolute;
        left: -1rem;
        top: 1rem;
    }
}


//      ##   ## #######   ##   #####  #### ##   ##   ####   #####
//      ##   ##  ##   #  ####   ## ##  ##  ###  ##  ##  ## ##   ##
//      ##   ##  ## #   ##  ##  ##  ## ##  #### ## ##      ##
//      #######  ####   ##  ##  ##  ## ##  ## #### ##       #####
//      ##   ##  ## #   ######  ##  ## ##  ##  ### ##  ###      ##
//      ##   ##  ##   # ##  ##  ## ##  ##  ##   ##  ##  ## ##   ##
//      ##   ## ####### ##  ## #####  #### ##   ##   #####  #####
//
%h1-size {
    font-size: $h1-font-size;
    line-height: 1.1em;
}
%h2-size {
    font-size: $h2-font-size;
    line-height: 1.1em;
}
%h3-size {
    font-size: $h3-font-size;
    line-height: 1.3em;
}
%h4-size {
    font-size: $h4-font-size;
    line-height: 1.2em;
}
%h5-size {
    font-size: $h5-font-size;
    line-height: 1.3em;
}
%h6-size {
    font-size: $h6-font-size;
    line-height: 1.3em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: $header-font-weight;
    font-family: $header-font-family;
    color: $primary-color;
    margin-bottom: 0;
}

h1 { @extend %h1-size; }
h2 { @extend %h2-size; }
h3 { @extend %h3-size; }
h4 { @extend %h4-size; }
h5 { @extend %h5-size; }
h6 { @extend %h6-size; }


//.lead {
//}

//      ####    #### ##   ## ###  ##  #####
//       ##      ##  ###  ##  ##  ## ##   ##
//       ##      ##  #### ##  ## ##  ##
//       ##      ##  ## ####  ####    #####
//       ##   #  ##  ##  ###  ## ##       ##
//       ##  ##  ##  ##   ##  ##  ## ##   ##
//      ####### #### ##   ## ###  ##  #####
//

%default-link {
    @include default-transition('color, background, opacity');
    text-decoration: none;
    color: $anchor-font-color;
    &:hover,
    &:focus,
    &:active {
        color: $anchor-font-color-hover;
    }
}

%dull-link {
    text-decoration: none;
    color: $body-font-color;
}

a {
   @extend %default-link;
}
