/node_modules
/vendor
/resources/assets/web_modules/
/public/vendor
/public/assets/web/*
/public/packages/*
/public/storage/
.sass-cache
composer.phar
.env
.DS_Store
Thumbs.db
gruntfile.localconfig.js
*.sh
/tmp
.idea
storage/debugbar/
_ide_helper.php
/config/ide-helper.php
debugbar.php
Homestead.yaml
Homestead.json
npm-debug.log
local.config.js
cache.json