// Alert-box
// - - - - - - - - - - - - - - - - - - - - - - - - -

.alert-outer-wrapper {
}

.at-alert-box {
    position: relative;

    &:before {
        position: absolute;
        font-size: 2rem;
        left: 0;
        top: 1rem;
        color: $primary-color;
    }

    &.success {
        @extend %icon-check;
    }

    &.error {
        @extend %icon-warning;
    }
    &.warning {
        @extend %icon-warning;
    }
    &.info {
        @extend %icon-info-circle;
    }
    .action-close {
        float: right;
        margin-left: 1rem;
        background: $gray9;
        color: $primary-color;
    }
}