// Cookie-message
// - - - - - - - - - - - - - - - - - - - - - - - - -

.at-cookie-message {
     position: fixed;
     bottom: 0;
     background: white;
     color: $primary-color;
     width: 100%;
     text-align: center;
     padding: $gutter-width;
     z-index: 1000;
}