.at-pagination {
    @extend %unstyled-list;
    @extend %inline-list;
    text-align: center;
    margin-top: 3rem;

    li {
        margin: 0 0.1rem;

        a,
        .button {
            border: 1px solid $primary-color;
            padding: 0.4rem 0.8rem;
            display: block;
            color:$primary-color;
            background: white;
            font-size: .9rem;

            &:hover {
                background: $primary-color;
                color: white;
                text-decoration: none;
            }
        }

        &.is-unavailable {
            a,
            .button {
                background: $primary-color;
                color: white;
                border: 1px solid $primary-color;

            }
        }
        &.is-current {
            a,
            .button {
                background: $primary-color;
                border: 1px solid $primary-color;
                color: white;
            }
        }
    }

    .next, .previous {
        border: 1px solid $primary-color;
        background: $primary-color;
        padding: 0.4rem 0.8rem;
        text-decoration: none;
        color: white;

        &:hover {
            border: 1px solid $gray5;
            background: $gray5;
        }
    }
}