.at-page-header {
    text-align: center;
    max-width: 41rem;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 1rem;
    color: $header-font-color;
    .page-title {
        @extend %big-size-1;
        @extend %header-alternate;
        margin-bottom: .5rem;
        line-height: .9em;
    }
    .page-subtitle {
        @extend %main-subtitle;
    }
}