.ml-site-footer {
    background: white;
    padding: 2rem 0;
    position: relative;
    z-index: 99;

    @media screen and (min-width: $viewport-xs) {
        padding: 2rem 1rem;
    }

    a {
        color: $primary-color-tint-1;

        &:hover {
            text-decoration: underline;
        }
    }

    .button {
        background: $primary-color;
        color: white;
        &:hover,
        &:focus,
        &:active {
            background: $primary-color-tint-1;
        }
    }
    .at-social-links-list {
        font-size: 0.5rem;
        a {
            @extend %icon-stacked;
            height: 2.5rem;
            line-height: 2.5rem;
            padding-left: 2.5rem;
            &:before {
                font-size: 1.25rem;
                top: 50%;
                left: 50%;
                margin-left: - 2.5rem / 4;
                margin-top: - 2.5rem / 4;
                z-index: 2;
            }
            &:after {
                content: '';
                font-size: 2.5rem;
                top: 0;
                left: 0;
                background: transparent;
                border-radius: 100%;
                border: 1px solid $primary-color;
                width: 2.5rem;
                height: 2.5rem;
                z-index: 1;
            }
            &:hover,
            &:focus,
            &:active {
                &:before {
                    color: white;
                }
                &:after {
                    background: $primary-color;
                }
            }
        }

        @media screen and (max-width: $viewport-md) {
            margin-top: 1.5rem;
        }
    }
    .site-links {
        ul {
            @extend %unstyled-list;

            a {
                text-transform: uppercase;
            }
        }
        li {
            font-size: 0.8rem;
            margin-bottom: 3px;

        }
    }
    .section-title {
        @extend %body-size-2;
        color: $primary-color;
        margin-top: 0;
        margin-bottom: 3px;
        text-transform: uppercase;

        a {
            color: $primary-color;
        }
    }

    .newsletter {
        a {
            text-decoration: underline;

            &:hover {
                text-decoration: none;
            }
        }
        .form-subtitle {
            @extend %body-size-3;
            margin-bottom: 0;
            text-transform: uppercase;
        }
        .form-title {
            margin-top: .15rem;
            margin-bottom: .5rem;
            font-size: rem-calc(21);
            font-weight: $font-weight-normal;
        }
        .form-control {
            border-color: $primary-color;
        }
        .checkbox + label {
            font-size: 0.85rem;
        }
    }
    .contact-line {
        display: block;
    }

    > .inner-wrapper {
        margin-left: $half-gutter-width;
        margin-right: $half-gutter-width;
    }
    .newsletter {
        @extend %col-xs-12;
        @extend %col-sm-6;
        @extend %col-md-4;
        @extend %col-md-offset-1;

        @media screen and (max-width: $viewport-sm) {
            margin-bottom: 1.5rem;
        }
    }
    .site-links-wrapper {
        @extend %col-xs-12;
        @extend %col-sm-6;
        @extend %col-md-7;
        @extend %first-md;
        .site-links {
            @extend %col-sm-6;
            @extend %col-lg-3;
        }
    }
    .contact {
        @extend %col-xs-12;
        @extend %col-sm-6;
        @extend %col-md-4;
    }
    .shop-locator {
        @extend %col-xs-12;
        @extend %col-sm-6;
        @extend %col-md-4;
        .button {
            @include fancy-button-themed($primary-color);
            margin-top: 0.5rem;
        }

        @media screen and (max-width: $viewport-sm) {
            margin-top: 1.5rem;
        }
    }
    .at-social-links-list {
        @extend %col-xs-12;
        @extend %col-sm-12;
        @extend %col-md-4;
        @media screen and (min-width: $viewport-md) {
            text-align: right;
        }
    }

    .contact,
    .shop-locator,
    .at-social-links-list {
        @media screen and (min-width: $viewport-md) {
            border-top: 1px solid $primary-color;
            padding-top: 2rem;
            margin-top: 1rem;
        }
    }

    .contact,
    .shop-locator {
        @media screen and (min-width: $viewport-sm) and (max-width: $viewport-md) {
            border-top: 1px solid $primary-color;
            padding-top: 2rem;
        }
    }
    .at-social-links-list {
        @media screen and (min-width: $viewport-sm) and (max-width: $viewport-md) {
            border-top: 1px solid $primary-color;
            padding-top: 2rem;
        }
    }

    .contact {
        .inner-wrapper {
            > p {
                @extend %col-xs-12;
                @extend %col-sm-6;
            }
        }
        .section-title {
            @extend %col-xs-12;
        }

    }

    .inner-wrapper-logos {
        display: inline;
        text-align: center;

        .logo-feder {
            background:url('../img/logos/logo-feder.jpg') no-repeat;
            width:270px;
            height:85px;
            margin: 0 .5rem; 

            @media screen and (max-width: $viewport-sm) {
                background:url('../img/logos/logo-feder-sm.jpg') no-repeat;
                width:180px;
                height:56px;
            }
        }

        .logo-ministerio {
            background:url('../img/logos/logo-gob.jpg') no-repeat;
            width:400px;
            height:82px;
            margin: 0 .5rem;

            @media screen and (max-width: $viewport-sm) {
                background:url('../img/logos/logo-gob-sm.jpg') no-repeat;
                width:260px;
                height:54px;
            }
        }
    }
}


